.box{
  position: absolute;
  overflow: hidden;
  width: 300px;
  height: 150px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  border: 3px solid #BD204C;
  padding: 20px;
  background-color: #BD204C;
  border-radius: 25px;
  color: white;
  text-align: center;
  z-index: 2;
}
.buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 35px; 
  
}
.yes,.no{
  background-color: #E06286;
  border: none;
  border-radius: 25px;
  width: 80px;
  height: 40px;
}
.yes:hover,.no:hover{
  background-color: whitesmoke;
  cursor: pointer;
  width: 90px;
  height: 45px;
  transition: 0.1s ease-in-out;
}
#flash {
  position: fixed;
  inset: 0;
  background: white;
  opacity: 0;
  pointer-events: none;
  z-index: 9999;
  transition: opacity 0.3s ease-in;
}

#flash.active {
  opacity: 1;
}
body{
  background-color: #E9CED0
}
.video-container {
  width: 800px;       /* change this to resize everything */
  aspect-ratio: 16 / 9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}

.video-container video {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
/* marquee container positioned over the video */
.marquee {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  overflow: hidden;
  z-index: 2;
  pointer-events: none; /* allow clicks through */
}
.marqueee{
   position: absolute;
 top: 80%;
 left: 50%;
 transform: translateX(-50%);
 width: 80%;
 overflow: hidden;
 z-index: 2;
 pointer-events: none; /* allow clicks through */

}

.final-text {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  padding-left: 100%; /* start off-screen */
  animation: marquee 12s linear infinite;
  pointer-events: auto; /* keep selectable if needed */
}

.marquee:hover .final-text { animation-play-state: paused; }

@keyframes marquee {
  0%   { transform: translateX(0%); }
  100% { transform: translateX(-100%); }
}
@keyframes marqueee {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(0%); }
}


.separator { margin: 0 1rem; }
